* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #05364d;
}

body {
  font-family: "Comfortaa", cursive;
}

header {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bars ul,
li {
  display: inline;
  padding: 20px;
}

.nav-bars a {
  color: black;
  text-decoration: none;
}

.nav-bars a:hover {
  color: #efb6df;
  font-weight: bold;
}

main {
  color: whitesmoke;
}

.content-first {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sect1-a {
  padding: 20px;
  width: 550px;
}

.social-icons i {
  padding-left: 15px;
  color: var(--primary);
}

.fa-facebook:hover {
  color: rgb(61, 61, 228);
}

.fa-twitter-square:hover {
  background-color: dodgerblue;
  color: white;
}

.fa-skype:hover {
  color: dodgerblue;
  border: none;
  background-color: white;
}

.fa-instagram:hover {
  color: violet;
}

.sect1-a-prof {
  font-size: 35px;
  color: var(--primary);
}

.sect1-a-prof-p {
  font-size: 23px;
  color: var(--primary);
}

.submit-btn {
  text-decoration: none;
  padding: 12px 32px;
  border: 1px solid
    linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  border-radius: 10px;
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  color: white;
}

.submit-btn:hover {
  background: linear-gradient(to left, #1345e6 60%, #ed239f 81%, #1345e6 20%);
}

.sect2-b img {
  max-width: 60%;
  border-radius: 30px;
  padding-left: 50px;
}

.head-ers {
  color: var(--primary);
}

.Perso-Proj {
  display: flex;
  justify-content: space-evenly;
}

.projts img {
  max-width: 400px;
  max-height: 350px;
}

.projts {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  transition: 2s;
}

.projts:hover {
  background-color: rgba(226, 0, 0, 0.7);
}

/*FOR SECTION PAGE OF MY WEBSITE*/
.about {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sec-about-a img {
  max-width: 450px;
  max-height: 400px;
  padding-left: 30px;
}

.sec-about-b {
  color: var(--primary);
  font-size: 17px;
  line-height: 43px;
  width: 350px;
}

/*TESTAMONIAL SECTION*/
.testamonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  padding-top: 60px;
  line-height: 35px;
}

.test-img img {
  max-width: 200px;
  height: 200px;
  border-radius: 60px;
}

.test-pro {
  font-style: italic;
  text-align: center;
  width: 350px;
  opacity: 1;
}

/*CONTACT FORM*/
.contact {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary);
}
